extends layout.pug
  
block content
  h4=t('examples')

  .row
    .col-4
      .card
        .card-header 
          b=t('examples_catalog.chocomilk60.header')
        .card-body 
          p=t('examples_catalog.chocomilk60.body')
          .modal-footer
            button.btn.btn-primary(onclick="load('chocomilk60')")=t('common:load')
    .col-4
      .card
        .card-header 
          b=t('examples_catalog.chocomilkLimited.header')
        .card-body
          p=t('examples_catalog.chocomilkLimited.body')
          .modal-footer
            button.btn.btn-primary(onclick="load('chocomilkLimited')")=t('common:load')
    .col-4
      .card
        .card-header
          b=t('examples_catalog.development.header')
        .card-body
          p=t('examples_catalog.development.body')
          .modal-footer
            button.btn.btn-primary(onclick="load('development')")=t('common:load')

    script(src='/assets/examples.js')
          



