extends layout.pug

block content
  .row
    .col
      .modal-header
        h5=t('product_management')

      each text in t('product_docs', {'returnObjects': true})
        p!=text

  .row#data
    .col-lg-4.mb-3#infoBlock
      .card
        .card-header.bg-success.text-light=t('product')
        .card-body
          .form-group
            label(for='name')=t('name')
            input.form-control(type='text' name='name')
          .form-group
            label(for='amount')=t('product_make_amount')
            input.form-control(type='text' name='amount')
          .form-group
            label(for='markup')=t('markup')
            input.form-control(type='text' name='markup')
        .modal-footer
          button#save.btn.btn-primary(type='button')=t('save')
          a#close.btn.btn-secondary(href='/')=t('cancel')

    .col-lg-4.mb-3#componentAddTemplate
      .card
        .card-header.bg-info.text-light=t('component')
        .card-body
          p=t('component_info')
          button#addComponent.btn.btn-info(type='button')=t('add_component')

    .col-lg-4.mb-3#componentTemplate.component
      .card
        .card-header.bg-info.text-light=t('component')
          button.close.bg-danger.rounded(type='button')
            span.text-light(aria-hidden='true') &times;
        .card-body
          .form-group
            label(for='stage')=t('stage')
            select.form-control(name='stage' data-value='stage')
              option(value="product")=t('per_product')
              option(value="setup")=t('one_time_cost')
          .form-group
            label(for='resource')=t('resource')
            select.form-control(name='resource' data-value='resource')
          .form-group
            label(for='amount')=t('amount')
            input.form-control(type='text' name='amount' data-value='amount')
    

  script(src='/assets/product.js')
  script.
    setup(#{id})



