extends layout.pug

block content
  .row
    .col-lg-3
      .card
        .card-header.bg-primary.text-light=t('resource')
        .card-body
          .form-group
            label(for='name')=t('common:name')
            input.form-control(type='text' name='name')
          .form-group
            label(for='unit')=t('common:units')
            input.form-control(type='text' name='unit')
          .form-group
            label(for='capacity')=t('capacity_per_container')
            input.form-control(type='text' name='capacity')
          .form-group
            label(for='amount')=t('amount_of_containers')
            input.form-control(type='text' name='amount')
          .form-group
            label(for='cost')=t('cost_per_container')
            input.form-control(type='text' name='cost')
        .modal-footer
          button#save.btn.btn-primary(type='button')=t('common:save')
          a#close.btn.btn-secondary(href='/')=t('common:cancel')
    .col-lg-8
      div.modal-header
        h5=t('common:information')

      each text in t('resource_docs', {'returnObjects': true})
        p!=text 

  script(src='/assets/resource.js')
  script.
    sessionEdit(#{id}, 'save', 'close').then(() => {
      window.location.href = '/'
    })


