extends layout.pug
  
block content
  h5.mt-3 Resources
  #resources.row.mb-3
    .col-lg-6#resourceTemplate
      .card
        .card-header
          a(
            href='/resource?id=' 
            data-type='resourceURL'
            data-value='name'
          ) Name
          button(type='button' class='close')
            span(aria-hidden='true') &times;
        .progress
          .progress-bar(
            data-type='consumed'
            role='progressbar'
            style='width: 100%'
            aria-valuenow='100'
            aria-valuemin='0'
            aria-valuemax='100'
          )
        table.table.table-bordered.table-striped(style='margin-bottom: 0px')
          tr
            th(colspan=2 width="50%") Request
            th(colspan=2 width="50%") Response
          tr
            td Requested Amount:
            td.text-right(data-value='amount' data-format='decimal') 0
            td Used Amount:
            td.text-right.font-weight-bold(data-value='realAmount' data-format='decimal') 0
          tr
            td Total Capacity:
            td.text-right(data-value='totalCapacity' data-format='decimal,units') 0
            td Consumed:
            td.text-right.font-weight-bold(data-value='consumed' data-format='decimal,units') 0
          tr
            td Cost Per Unit:
            td.text-right(data-value='cost' data-format='money') 0
            td Total cost:
            td.text-right.font-weight-bold(data-value='finalCost' data-format='money') 0

  h5 Products
  .row
    #products.col
      .row
        .col-lg-4#productInfoTemplate
          .card
            .card-header
              a(
                href='/resource?id=' 
                data-type='resourceURL'
                data-value='name'
              ) Name
              button(type='button' class='close')
                span(aria-hidden='true') &times;
            table.table.table-bordered.table-striped(style='margin-bottom: 0px')
              tr
                td Requested Amount:
                td.text-right(data-value='amount' data-format='decimal') 0
              tr.font-weight-bold
                td Used Amount:
                td.text-right(data-value='realAmount' data-format='decimal') 0
              tr.font-weight-bold
                td Cost:
                td.text-right(data-value='cost' data-format='money') 0
              tr.font-weight-bold
                td Cost Per Product:
                td.text-right(data-value='costPerProduct' data-format='money') 0
              tr.font-weight-bold
                td Price Per Product:
                td.text-right(data-value='pricePerProduct' data-format='money') 0
        .col-lg-4#productComponentTemplate
          .card
            .card-header(data-value='resource') name
            table.table.table-bordered.table-striped(style='margin-bottom: 0px')
              tr
                td Requested Amount:
                td.text-right(data-value='amount' data-format='decimal') 0
              tr.font-weight-bold
                td Consumed:
                td.text-right(data-value='consumed' data-format='decimal,units') 0
              tr.font-weight-bold
                td Effective Consumption:
                td.text-right(data-value='consumedEffective' 
                  data-format='decimal,units') 0
              tr.font-weight-bold
                td Cost:
                td.text-right(data-value='cost' data-format='money') 0

  script(src='/assets/ui.js')

